.page-footer {
  background: #000;
  color: #ccc;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.page-footer__copyright {
  font-size: 0.75rem;
  margin-top: 1rem;
}

.page-footer__social-icon {
  margin-left: 1rem;
  margin-right: 1rem;
}
